/*body {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.macbook {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    height: 770px;
    width: 85%;
    background: rgb(190,190,190);
}

.bg-mac-gray {
    background-color: #888;
}

.keyboard-panel {
    width: 100%;
    -moz-box-shadow:    inset 0 0 10px #cecece;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #999;
    border-radius: 5px;
    padding: 10px;
}

.touch-bar {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

button {
    outline: none;
}

.w-28 {
    width: 110px;
}

.w-34 {
    width: 140px;
}

.w-18 {
    width: 70px;
}

.w-100 {
    width: 350px;
}

.touch-pad {
    width: 50%;
    -moz-box-shadow:    inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 4px #000;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder, input { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    padding-left: 10px;
}
